.sudokuGrid {
    margin: auto;
    display: grid;
    gap: 0.5rem;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);

    padding: 0.5rem;
    background-color: lightgray;
    border-radius: 3px;
}

.cell {
    width: 2.4rem;
    height: 2.4rem;
    font-weight: bold;
    animation: show 200ms ease-in-out;
}


@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}

.cell-user {
    color: grey;
}

.cell-nonLayout:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.cell-layout {
    color: purple;
}

.numberPicker {
    margin: auto;
    margin-top: 25px;
    display: grid;
    gap: 0.5rem;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(10, 1fr);

    padding: 0.5rem;
    background-color: lightgray;
    border-radius: 3px;
}

.numberPickerCell {
    width: 2.4rem;
    height: 2.4rem;
}

.numberPickerCellCurrent {
    background-color: yellow;
}
