:root {
    --base-color: 20;
    --color: hsl(var(--base-color), 64%, 58%);
    --color-light: hsl(var(--base-color), 64%, 62%);
    --color-dark: hsl(var(--base-color), 50%, 52%);

    --color-success: hsl(75, 50%, 40%);
    --color-error: hsl(1, 50%, 52%);
    --color-success-dark: hsl(75, 50%, 35%);
    --color-error-dark: hsl(1, 50%, 47%);
}

.hidden {
    visibility: hidden;
}

body {
    background-color: var(--color);
    color: white;
    font-weight: 500;
}

.app {
    margin: auto;
    max-width: 48rem;
    padding: 0 1rem;
    text-align: center;
}

header {
    border-bottom: 1px solid var(--color-dark);
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0px;
}

section {
    width: calc(5rem + 10.2 * 2.4rem);
}

.connected {
    color: var(--color-success-dark);
}

.disconnected {
    color: var(--color-error-dark);
}

.connectionInfo {
    display: flex;
}

.playerCount {
    padding-right: 1rem;
}

.gameCreator {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: calc(5rem + 10.2 * 2.4rem);
}

.createGameContainer {
    display: flex;
}

.createGame {
    width: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.settings {
    border-left: 1px solid var(--color-light);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: flex;
    align-items: center;
}

.flyout {
    font-size: 2rem;
    position: absolute;
    top: -18px;
    right: 1px;
}

.difficulties {
    display: flex;
}

.difficulty {
    flex-grow: 1;
    border-left: 1px solid #CCCCCC;
    border-radius: 0px;
    background-color: #EFEFEF;
}

.difficulty:first-child {
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.difficulty:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.difficulties .selected {
    background-color: var(--color-light);
    color: white;
}

.shareLink {
    display: flex;
}

.shareLink input {
    margin: 0px;
    width: 100%;
    border: none;
    border-radius: 3px 0px 0px 3px;
    padding: 10px;
    background-color: var(--color-light);
    color: white;
}

.shareLink button {
    border-radius: 0px 3px 3px 0px;
    width: 7rem;
}

.successCopy {
    color: var(--color-success);
}

.errorCopy {
    color: var(--color-error);
}

button {
    background-color: white;
    color: var(--color);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}

button:active {
    background-color: #eee;
}

.sudokuGrid, .numberPicker {
    background-color: var(--color-light);
    display: grid;
    width: fit-content;
    height: fit-content;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 3px;
}

.sudokuGrid {
    margin: auto;
    animation: show 200ms ease-in-out;
    grid-template-columns: 1fr 1fr 1.6fr 1fr 1fr 1.6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.6fr 1fr 1fr 1.6fr 1fr 1fr 1fr;
}

.cell {
    width: 2.4rem;
    height: 2.4rem;
    font-weight: bold;
    animation: show 200ms ease-in-out;
    background-color: #E9E9ED;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
}

.cell p {
    margin: 0px;
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}

@keyframes success {
  50% {
    transform: scale(0.9);
  }
}

.success .cell-nonLayout {
    background-color: var(--color-success);
    animation: success 400ms ease-in-out;
    animation-iteration-count: infinite;
}

.cell-error {
    background-color: var(--color-error);
    animation: success 400ms ease-in-out;
}

.cell-nonLayout:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.cell-nonLayout:hover {
    background-color: var(--color-dark);
    cursor: pointer;
}

.cell-layout {
    color: black;
}

.cell-user {
    color: grey;
}

.numberPicker {
    margin: auto;
    margin-top: 25px;
    grid-template-columns: repeat(10, 1fr);
}

.numberPickerCell {
    color: black;
}

.numberPickerCellCurrent {
    color: white;
}

.popupContent {
    background-color: white;
    border-radius: 3px;
    color: #555555;
    padding-left: 20px;
    padding-right: 20px;
}

.popupContent > div {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EFEFEF;
}

.playerNumber {
    display: flex;
    align-items: center;
}

.playerNumber p {
    margin: 0px;
    text-align: left;
}

.playerNumberSliderContainer {
    flex-grow: 1;
    display: flex;
    color: #CCCCCC;
}

.playerNumberSliderContainer > p {
    padding-left: 20px;
    padding-right: 10px;
}

.playerNumberSlider {
    flex-grow: 1;
}

@media only screen and (max-width: 768px) {
    .app {
        padding: 0 0.5rem;
    }

    header {
        flex-direction: column;
        border: none;
    }

    header p {
        margin: 2px;
    }

    button {
        padding: 5px;
    }

    .gameCreator {
        margin-top: 0px;
        margin-bottom: 1rem;
        width: 100%;
    }

    .gameCreator p {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .playerNumber p {
        margin: 0px;
    }

    .shareLink input {
        padding: 5px;
    }

    .sudokuGrid, .numberPicker {
        gap: 0.25rem;
        padding: 0.25rem;
        width: calc(100vw - 1.5rem);
        height: calc(100vw - 1.5rem);
    }

    .numberPicker {
        height: auto;
    }

    .cell {
        width: 7vw;
        height: 7vw;
    }
}
