:root {
    --base-color: 20;
    --color: hsl(var(--base-color), 64%, 58%);
    --color-light: hsl(var(--base-color), 64%, 62%);
    --color-dark: hsl(var(--base-color), 50%, 52%);

    --color-success: hsl(75, 50%, 40%);
    --color-error: hsl(1, 50%, 52%);
}

body {
    background-color: var(--color);
    color: white;
    font-weight: 500;
}

.app {
    margin: auto;
    max-width: 48rem;
    padding: 0 1rem;
    text-align: center;
}

header {
    border-bottom: 1px solid var(--color-dark);
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0px;
}

.connected {
    color: var(--color-success);
}

.disconnected {
    color: var(--color-error);
}

.options {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 25px;
    width: calc(5rem + 10.2 * 2.4rem);
}

.createGame {
    width: 100%;
}

.shareLink {
    display: flex;
}

.shareLink input {
    margin: 0px;
    width: 100%;
    border: none;
    border-radius: 3px 0px 0px 3px;
    padding: 10px;
    background-color: var(--color-light);
    color: white;
}

.shareLink button {
    border-radius: 0px 3px 3px 0px;
    width: 7rem;
}

.successCopy {
    color: var(--color-success);
}

.errorCopy {
    color: var(--color-error);
}

button {
    background-color: white;
    color: var(--color);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
}

button:active {
    background-color: #eee;
}

.sudokuGrid {
    background-color: var(--color-light);
    margin: auto;
    display: grid;
    gap: 0.5rem;
    width: fit-content;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1.6fr 1fr 1fr 1.6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.6fr 1fr 1fr 1.6fr 1fr 1fr 1fr;

    padding: 0.5rem;
    border-radius: 3px;
}

.cell {
    width: 2.4rem;
    height: 2.4rem;
    font-weight: bold;
    animation: show 200ms ease-in-out;
    background-color: #E9E9ED;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
}

.cell p {
    margin: 0px;
}

@keyframes show {
  0% {
    opacity: .5;
    transform: scale(0);
  }
}

.cell-nonLayout:active {
    transform: scale(0.9);
    transition: transform 0.1s;
}

.cell-nonLayout:hover {
    background-color: var(--color-dark);
    cursor: pointer;
}

.cell-layout {
    color: black;
}

.cell-user {
    color: grey;
}

.numberPicker {
    background-color: var(--color-light);
    margin: auto;
    margin-top: 25px;
    display: grid;
    gap: 0.5rem;
    width: fit-content;
    height: fit-content;
    grid-template-columns: repeat(10, 1fr);

    padding: 0.5rem;
    border-radius: 3px;
}

.numberPickerCell {
    width: 2.4rem;
    height: 2.4rem;
}

.numberPickerCell {
    color: black;
}

.numberPickerCellCurrent {
    color: white;
}
